Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Flask-CORS==4.0.1
PyJWT==2.8.0
bcrypt==4.1.2
python-dotenv==1.0.1
Werkzeug==3.0.3
pillow==10.3.0
openpyxl==3.1.5
xlrd==2.0.1
python-docx==1.1.2
numpy==1.26.4
gunicorn==21.2.0
psycopg2-binary>=2.9.9